.index_500 {
    position: relative;
    z-index: 500;
}

.flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.width-block {
    width: 100% !important;
}

.content-wrapper {
    padding: 0px 2rem;
    margin-top: 15px;
}

.nav-flex-right {
    display: flex;
    padding: 0px 2rem;
    justify-self: flex-end;
    justify-content: space-between;
    align-self: flex-end;
}

.home-page-tracker {
    margin-bottom: 40px;
}

.park-table-card {
    padding: 20px;
    position: relative;
}

.loadingOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
    background: #fff;
    z-index: 99999999999;
    flex-direction: column;
}

.fail-retry {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: none;
}

.table-striped tr:nth-child(odd) {
    background: #e0e0e0 !important;
}

.index_500 {
    position: relative;
    z-index: 500;
}

.flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.width-block {
    width: 100% !important;
}

.p-bottom-10 {
    padding-bottom: 10px !important;
}